<Router AppAssembly="typeof(ContextMemory.Admin.UI.Pages.Dashboard).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="typeof(MainLayout)">
            <div class="alert alert-warning">Page not found.</div>
        </LayoutView>
    </NotFound>
</Router>
